
/*//http://www.lavishbootstrap.com/?utf8=%E2%9C%93&image_url=http%3A%2F%2Fwww.zastavki.com%2Fpictures%2Foriginals%2F2014%2FNature___Seasons___Summer_Green_field_under_the_summer_clouds_078204_.jpg&commit=Go+Lavish*/
.page-header{
    height: 100px;
    /*color:#D2BD34;*/
   


}
#season{
height:200px;
width:200px;
display:inline-block;
 /*//border:2px solid black;*/
}
.menu{
    height:100px;
   
    /*float:right;*/
}
#top{
     /*//border:2px solid black;*/
     height:200px;
     /*float:left;*/
}


#data{
    margin-top: 50px;
    text-align:center;
    font-size:60pt;
}
#tasks{
    /*float:left;*/
    height:800px;
   
   // border:2px solid black;
}
#floatCalendar{
    /*float:right;*/
   /*height:50px;*/
    /*width:50px;*/
  //  border:2px solid black;
}



#leftB,
#rightB{
     height:300px;
        display:inline-block;
}
#leftB{
    
}
#rightB{
   /*// float:right;*/
}
#navButt{
    height:50px;
    /*float:left;*/
}
.formHidden{
   width:200px;
    display: none;
   height:500px;
   
}
.formShow{
    height:500px;
    width:200px;
 display:inline-block;
 
}

.delButton{
    height:25px;
    float:right;
    margin-top:-5px;
}