/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 лист. 2014, 12:27:34
    Author     : Anna
*/
body{
    background-image: url(../images/textures_00397053.jpg);
    background-repeat:repeat;
    background-color: black;
}
#hed{
    background-color: rgba(0,0,0,0.5);
    height: 300px;
margin-top: -60px;

//position: relative;
//top:2px;
 //left: 2px;
     //
}
#date{
 
    
    text-align: center;
    font-size: 72pt;
   
  padding-top: 100px;
    color: rgb(70, 130, 180);
    
}

#taskboard{
height: 500px;
background-color: rgba(205,205,205,0.9);
margin-top: 5px;
float: left;
width:500px;
}

#stuff{

    height: 500px;
    width:300px;
    //background-color: cadetblue;
    
}
.left{
       float:right;
    height:500px;
    width: 300px;
   // background-color: aqua;
}
#calendar{
    background-color: rgba(173, 216, 230,0.8);
    
    
}
#settings{
   // float:right;
    //padding-top: 5px;
    height: 300px;
    width: 300px;
    background-color: aquamarine;
}
#button{
    margin-top: 15px;
    height: 30px;
    width: 70px;
}

.task{
    background-color: darkseagreen;
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    
}
