@{
    ViewBag.Title = "My Todo List";
    
}

@*<div id="page-content">*@
<div id="plannedContainer" class="partShow">
    <div class="rightSide">
        <div id="tabs">
            <ul>

                <li><a href="#accordion">Programming</a></li>
                <li><a href="#homework">Homework</a></li>
                <li><a href="#education">Education</a></li>

            </ul>

            <div id="accordion"></div>
            <div id="homework"></div>
            <div id="education"></div>

        </div>
        <div id="GITsync">
            <h5 class="title">My GIT issues</h5>
        </div>
    </div>
      
        <div id="taskForm">
            <h5 class="title">Plan new task</h5>
            
            <p><label for="tID">Task Name</label> <input id="tName" type="text" /></p>
            <p><label for="tID">ID</label>  <input id="tID" type="text" /></p>
            <p>Date: <input type="text" id="datepicker"></p>
            <label for="categories">Select category</label>
            <select id="categories">
                <option>Select category</option>
                <option>Programming</option>
                <option>Homework</option>
                <option>Education</option>
            </select>
            <p>
                <label for="descr"> Description</label>
               
                <textarea rows="5" cols="35" id="descr"></textarea>
            </p> 
                <button id="addB" class="btn btn-primary btn-block btn-lg" type="button">Add</button>
            
        </div>
    <div id="datePicker"> </div>
    </div>
   
 <div id="solvedContainer" class="partHide" >
    <div id="solve">
        <ul>
            <li><a href="#programmingDone">Programming</a></li>
            <li><a href="#homeworkDone">Homework</a></li>
            <li><a href="#educationDone">Education</a></li>
        </ul>

        <div id="programmingDone"></div>
        <div id="homeworkDone"></div>
        <div id="educationDone"></div>


    </div>

</div>








