@{
    ViewBag.Title = "My Todo List";
    
}

@*<div id="page-content">*@
<div id="plannedContainer" class="partShow">
    <div class="rightSide">
        <div id="tabs">
            <ul>

                <li><a href="#accordion">Programming</a></li>
                <li><a href="#homework">Homework</a></li>
                <li><a href="#education">Education</a></li>

            </ul>

            <div id="accordion"></div>
            <div id="homework"></div>
            <div id="education"></div>

        </div>
        <div id="GITsync">
            <h5 class="title">My GIT issues</h5>
        </div>
    </div>
      
        <div id="taskForm">
            <h5 class="title">Plan new task</h5>
            <div class="left">
                <p>Task Name</p>
                <p>ID</p>

               
                <p>Date: </p>
                <p>Select category</p>
                <p> Description</p>
            </div>
            <div class="right">
                <p> <input id="tName" type="text" /></p>
                <p> <input id="tID" type="text" /></p>
                <p> <input type="text" id="datepicker"></p>

                <p>
                    <select id="categories">
                        <option>Select category</option>
                        <option>Programming</option>
                        <option>Homework</option>
                        <option>Education</option>
                    </select>
                </p>
                <p> <textarea rows="5" cols="25" id="descr"></textarea> </p>
            </div>
                <button id="addB" class="btn btn-primary btn-block btn-lg" type="button">Add</button>
            
        </div>
    <div id="datePicker"> </div>
    </div>
   
 <div id="solvedContainer" class="partHide" >
    <div id="solve">
        <ul>
            <li><a href="#programmingDone">Programming</a></li>
            <li><a href="#homeworkDone">Homework</a></li>
            <li><a href="#educationDone">Education</a></li>
        </ul>

        <div id="programmingDone"></div>
        <div id="homeworkDone"></div>
        <div id="educationDone"></div>


    </div>

</div>








