@Styles.Render("~/Content/new")
@Scripts.Render("~/bundles/new")

<div class="page-header">
    <img id="season" class="img-circle" src="../Images/season/img1.jpg" alt="season" />
    <div class="menu">
       
        <div  id="top">
            @*<div id="leftB" ><<</div>*@
            <h1 id="data">date</h1>

        </div>
      
   
    </div>
</div>
<div id="page-content">
    <div id="tasks">
        <div id="accordion">
           
        </div>
    </div>
    <div id="floatCalendar" >
        <button id="navButt" class="btn btn-default" type="submit">+</button>
        <div id="taskForm" class="formHidden">

            <p>From: <input type="text" id="dateFrom"></p>
            <p>To: <input type="text" id="dateTo"></p>
            <p >Task Name <input id="tName" type="text" /></p>
            <p>ID <input id="tID" type="text" /></p>
            <label for="categories">Select task category</label>
            <select name="categories" id="categories">
                <option>cat1</option>
                <option>cat2</option>
                <option selected="selected">cat3</option>
                <option>cat4</option>
          
            </select>
           

            <button id="addB" class="btn btn-success btn-block btn-lg" type="button">Add</button>
        </div>
    </div>

</div>