@{
    ViewBag.Title = "OldView";
}
@Scripts.Render("~/bundles/main")
@Styles.Render("~/Content/css")
<div class=" header" id="hed">
    <select name="design" id="designPicker">
        <option> </option>
        <option>color</option>
        <option>image</option>
    </select>

    <h1 id="date"> </h1>
</div>
<div id="taskboard">

</div>
<div class="left">
    <div id="stuff">
        <div id="calendarContainer">
        </div>
        <div class="border"> </div>
        <div id="settngs">

        </div>
        <div class="border"></div>
        <div>


        </div>
        <div class="border"></div>
        <!--<div id="button">Add Task</div>-->
    </div>
</div>
